<?xml version="1.0"?>
<robot name="arm_hand_shadow" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="ARM" default="kuka"/>
  <xacro:arg name="NAMESPACE" default="r"/>
  <xacro:arg name="IS_RIGHT" default="1"/>
  <xacro:arg name="SIM" default="1"/> 
  
  <!-- arm calibration -->
  <xacro:include filename="$(find agni_description)/robots/$(arg ARM)_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find agni_description)/calibration/$(arg ARM)_cal.xml"/>
  
 <!-- must be world to spawn the arm in gazebo and have it fixed at the calibration location -->
  <link name="world" /> 
  <!-- arm and hand -->
  <xacro:if value="$(arg IS_RIGHT)" >
    <xacro:arm_noee parent="world" arm="$(arg ARM)" prefix="$(arg NAMESPACE)" is_right="1"  controller="$(arg SIM)">
      <origin xyz="${cal_right_arm_x} ${cal_right_arm_y} ${cal_right_arm_z}"
      rpy="${cal_right_arm_roll} ${cal_right_arm_pitch} ${cal_right_arm_yaw}"/>

    </xacro:arm_noee>
  </xacro:if>
  <xacro:unless value="$(arg IS_RIGHT)" >
    <xacro:arm_noee parent="world" arm="$(arg ARM)" prefix="$(arg NAMESPACE)" is_right="0"  controller="$(arg SIM)">
      <origin xyz="${cal_left_arm_x} ${cal_left_arm_y} ${cal_left_arm_z}"
          rpy="${cal_left_arm_roll} ${cal_left_arm_pitch} ${cal_left_arm_yaw}"/>

    </xacro:arm_noee>
  </xacro:unless>  
    
    
 
  
</robot>
