<?xml version="1.0"?>
<robot name="arm_hand_shadow" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="settings" value="${load_yaml('robots.yaml')}" />

	<xacro:arg name="SIM" default="1"/>
	<xacro:arg name="CALIB" default="famula"/>

	<!-- frame -->
	<xacro:include filename="../urdf/frame-half.urdf.xacro"/>
	<xacro:include filename="../calibration/famula_frame_cal.xml"/>
	<xacro:frame/>

	<xacro:include filename="../urdf/helpers.urdf.xacro" />

	<xacro:arm_with_tool parent="frame" prefix="r"
	                     arm_type="kukaR" tool_type="shadow_motor_right" />
	<xacro:arm_with_tool parent="frame" prefix="l"
	                     arm_type="kukaL" tool_type="shadow_motor_left"/>

	<!-- flobi -->
	<xacro:include filename="$(find flobi_sim)/defs/xacro/flobiv3.urdf.xacro" />
	<xacro:flobi parent="frame" prefix="" neutral="1" gender="0">
		<origin xyz="${cal_flobi_pos['X']} ${cal_flobi_pos['Y']} ${cal_flobi_pos['Z']}"
		        rpy="0 0 ${-pi/2.0}"/>
	</xacro:flobi>
</robot>
