<?xml version="1.0"?>
<robot name="kuka_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="kuka_arm" params="prefix controller">
    <!-- KUKA arm -->

    <xacro:include filename="$(find lwr_description)/urdf/lwr.urdf.xacro"/>
    <xacro:kuka_lwr_arm name="${prefix + '_' if prefix else ''}"/>

    <xacro:if value="${controller}">
      <!-- add gazebo controllers -->

      <xacro:include filename="$(find lwr_description)/urdf/lwr_gazebo.urdf.xacro"/>
      <xacro:lwr_arm_gazebo_controller prefix="${prefix}" namespace="${prefix}" 
                                       port="${props['port']}"
                                       init_joint_pos="${props['init_joint_pos']}"
                                       auto_on="${props['auto_on']}"/>
    </xacro:if>
  </xacro:macro>
</robot>
