<?xml version="1.0"?>
<robot name="left_shadow_motor"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/robots/shadowhands_ee.urdf.xacro" />
  
  <xacro:arg name="USE_UBI" default="true"/>
  
  <xacro:property name="l_ee_base_link" value="forearm" />
  
  <xacro:property name="cal_left_ee_x" value="0.0" />
  <xacro:property name="cal_left_ee_y" value="0.0" />
  <xacro:property name="cal_left_ee_z" value="0.0" />
  <xacro:property name="cal_left_ee_yaw" value="0.0" />
  <xacro:property name="cal_left_ee_pitch" value="0.0" />
  <xacro:property name="cal_left_ee_roll" value="0.0" />

</robot>  
