<?xml version="1.0"?>
<robot name="pa10_anytool"
     xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- all necessary includes for end-effectors must be done outside -->
 
  <xacro:include filename="$(find agni_description)/pa10/pa10-a.urdf.xacro"/> 
  <xacro:include filename="$(find agni_description)/pa10/pa10-c.urdf.xacro"/> 
  <xacro:include filename="$(find agni_description)/pa10/pa10_shadow_controller_manager.xacro"/> 
  <xacro:include filename="$(find agni_description)/calibration/pa10_cal.xml"/>

 
  <!-- arm_ee macro with the params
         * parent : where it is attached
         * arm : arm type
         * is_right : 1 if arm is the right one
         * ee_macro : name of the end-effector macro
         * ee_base_link : name of the base_link of the end-effector to link to
         * use_prefix : should we use prefix for the end-effector
         * prefix : the prefix (for instance "r")
         * controller : should the controllers be loaded or not
         * *origin : first block for the base offset
         * *ee_offset : second block for the end-effector offset -->
  
  <xacro:macro name="arm_ee" params="parent arm is_right ee_macro ee_base_link use_prefix prefix controller *origin *ee_offset ">
  <!-- PA10 arm -->  
    <xacro:if value="${is_right}" >
      <xacro:call macro="pa10c_arm" name="${prefix}a_"/>
    </xacro:if>
    <xacro:unless value="${is_right}" >
      <xacro:call macro="pa10a_arm" name="${prefix}a_"/>
    </xacro:unless>
    
    <joint name="${prefix}a_frame_placement" type="fixed">
       <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}a_arm_base_link"/>
    </joint>  
  
    <xacro:if value="${controller}">  
      <!-- add controllers -->
       <!-- add controllers -->
      <!-- pa10 controllers HERE 
      <xacro:pa10_gazebo_controller_manager namespace="${prefix}a"/> ros-hydro-gazebo-ros-control missing-->
      <xacro:pa10_shadow_gazebo_controller_manager namespace="${prefix}a"/>
    </xacro:if>   

    <xacro:if value="${use_prefix}">
      <!-- Effector -->
      <xacro:call macro="${ee_macro}" prefix="${prefix}" use_prefix="${use_prefix}"/>
      <!-- Link arm and effector -->
    <joint name="${prefix}a_arm_hand_mount" type="fixed">
      <parent link="${prefix}a_arm_hand_mount"/>
      <child link="${prefix}h_${ee_base_link}"/>
      <insert_block name="ee_offset" />
    </joint>
    </xacro:if>  
    <xacro:unless value="${use_prefix}">
      <!-- Effector -->
      <xacro:call macro="${ee_macro}" prefix="" use_prefix="${use_prefix}"/>
    <!-- Link arm and hand -->
    <joint name="${prefix}a_arm_hand_mount" type="fixed">
      <parent link="${prefix}a_arm_hand_mount"/>
      <child link="${ee_base_link}"/>
      <insert_block name="ee_offset" />
    </joint>
    </xacro:unless>  
    
  </xacro:macro>    
</robot>
