<?xml version="1.0"?>
<robot name="pa10_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="filename" value="${dict([('7a', 'pa10-a'), ('7c', 'pa10-c')])}"/>
  <xacro:property name="macroname" value="${dict([('7a', 'pa10a_arm'), ('7c', 'pa10c_arm')])}"/>

  <xacro:macro name="pa10_arm" params="prefix controller">
    <!-- PA10 arm -->

    <xacro:include filename="../pa10/${filename[props['model']]}.urdf.xacro"/>

    <xacro:call macro="${macroname[props['model']]}" 
                name="${prefix + '_' if prefix else ''}"/>

    <xacro:if value="${controller}">
      <!-- add gazebo controllers -->

      <xacro:include filename="../pa10/pa10_shadow_controller_manager.xacro"/>
      <xacro:pa10_shadow_gazebo_controller_manager namespace="${prefix}"/>
    </xacro:if>
  </xacro:macro>
</robot>
