<?xml version="1.0"?>
<robot name="$(arg namespace)a_pa10"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find agni_description)/pa10/pa10-a.urdf.xacro"/>  
  <xacro:include filename="$(find agni_description)/pa10/pa10-c.urdf.xacro"/> 
  <xacro:include filename="$(find agni_description)/pa10/pa10_shadow_controller_manager.xacro"/> 
 
  <!-- PA10 arm --> 
  <xacro:macro name="arm_noee" params="parent arm is_right prefix controller *origin">    
    <xacro:if value="${is_right}" >
      <xacro:pa10c_arm name="${prefix}a_" />
      <xacro:if value="${controller}"> 
        <!-- add controllers -->
        <!-- pa10 controllers HERE 
        <xacro:pa10_gazebo_controller_manager namespace="$(arg namespace)a"/> ros-hydro-gazebo-ros-control missing-->
        <xacro:pa10_shadow_gazebo_controller_manager namespace="${prefix}a"/>
      </xacro:if>  
    </xacro:if>   
    <xacro:unless value="${is_right}" >
      <xacro:pa10a_arm name="${prefix}a_" />
      <xacro:if value="${controller}"> 
        <!-- add controllers -->
        <!-- pa10 controllers HERE 
        <xacro:pa10_gazebo_controller_manager namespace="$(arg namespace)a"/> ros-hydro-gazebo-ros-control missing-->
        <xacro:pa10_shadow_gazebo_controller_manager namespace="${prefix}a"/>
      </xacro:if>    
    </xacro:unless>   
    
    <joint name="${prefix}a_frame_placement" type="fixed">
       <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}a_arm_base_link"/>
    </joint>  
    
  </xacro:macro>     

</robot>
