<?xml version="1.0"?>
<robot name="poking_stick"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/robots/poking_stick_ee.urdf.xacro" /> 
 
  <xacro:arg name="MODEL" default="-"/>
  <xacro:arg name="SIDE" default="right"/>
  <xacro:arg name="TACTILE" default="-"/>
  <xacro:arg name="PREFIX" default=""/>      
  <xacro:call macro="poking_stick" model="$(arg MODEL)" side="$(arg SIDE)" tactile="$(arg TACTILE)" prefix="$(arg PREFIX)" />
</robot>
