<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="poking_stick" params="prefix:=''">
    <xacro:property name="prefix_" value="${prefix + '_' if prefix else ''}"/>
    <!-- poking stick -->

    <xacro:include filename="../models/poking_stick.urdf.xacro" />
    <xacro:poking_stick_generic prefix="${prefix_}" tactile="${props['tactile']}"/>

    <xacro:if value="${props['tactile'] in ['bio', 'ubi', 'eli']}">
      <xacro:include filename="$(find sr_description)/hand/xacro/finger/distal/distal.tactile.xacro" />
      <!-- tactile marker mapping description -->
      <xacro:distal_tactile bio="${props['tactile'] == 'bio'}"
                            ubi="${props['tactile'] == 'ubi'}"
                            eli="${props['tactile'] == 'eli'}"
                            prefix="{prefix}" link_prefix="ff" finger_number="0"/>
    </xacro:if>
  </xacro:macro>
</robot>
