<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find agni_description)/models/poking_stick_ubi.urdf.xacro" /> 

  <xacro:property name="cal_right_ee_x" value="0.0" />
  <xacro:property name="cal_right_ee_y" value="0.0" />
  <xacro:property name="cal_right_ee_z" value="0.0" />
  <xacro:property name="cal_right_ee_yaw" value="0.0" />
  <xacro:property name="cal_right_ee_pitch" value="0.0" />
  <xacro:property name="cal_right_ee_roll" value="0.0" />

  <xacro:property name="r_ee_base_link" value="poking_stick" />
  
  <xacro:macro name="right_poking_stick_ubi" params="prefix use_prefix" >
    <xacro:poking_stick_ubi prefix="${prefix}h_" />
  </xacro:macro>
  <xacro:macro name="left_poking_stick_ubi" params="prefix use_prefix" >
    <xacro:poking_stick_ubi prefix="${prefix}h_" />
  </xacro:macro>
</robot>
