<?xml version="1.0"?>
<robot name="sdh" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find schunk_description)/urdf/sdh/sdh.urdf.xacro" />

  <xacro:macro name="schunk_hand" params="prefix:=''">
    <xacro:property name="prefix_" value="${'' if prefix=='' else prefix+'_'}"/>
    <link name="${prefix_}sdh_mount" />
    <xacro:call macro="schunk_sdh" parent="${prefix_}sdh_mount" name="${prefix_}sdh" >
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:call>

  </xacro:macro>
</robot>
