<?xml version="1.0"?>
<robot name="arm_hand_shadow" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="settings" value="${xacro.load_yaml('robots.yaml')}" />

	<xacro:arg name="SIM" default="1"/>
	<xacro:arg name="CALIB" default="sfb"/>

	<xacro:property name="parent" value="world"/>
	<link name="${parent}"/>

	<!-- frame -->
	<xacro:include filename="../urdf/frame.urdf.xacro"/>
	<xacro:include filename="../calibration/sfb_frame_cal.xml"/>
	<xacro:frame parent="${parent}"/>

	<xacro:include filename="../urdf/helpers.urdf.xacro" />
	<xacro:include filename="$(find sr_description)/materials.urdf.xacro" />

	<xacro:arm_with_tool parent="frame" prefix="r"
	                     arm_type="pa10c" tool_type="shadow_motor_right"/>
	<xacro:arm_with_tool parent="frame" prefix="l"
	                     arm_type="pa10a" tool_type="shadow_motor_left"/>
</robot>
