<?xml version="1.0"?>
<robot name="shadow_hand"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/robots/shadow_hand_ee.urdf.xacro" /> 
 
  <xacro:arg name="MODEL" default="motor"/>
  <xacro:arg name="SIDE" default="right"/>
  <xacro:arg name="TACTILE" default=""/>
  <xacro:arg name="PREFIX" default=""/>
  <xacro:call macro="shadow_hand" model="$(arg MODEL)" tactile="$(arg TACTILE)" side="$(arg SIDE)" prefix="$(arg PREFIX)"/>         
  
</robot>
