<?xml version="1.0"?>
<robot name="shadow_hand" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="../urdf/sr_gazebo.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.tactile.xacro" />

  <xacro:macro name="shadow_hand" params="model:=${props.get('model','motor')}
                                          tip_sensor:=${props.get('tip_sensor','ubi')}
                                          mid_sensor:=${props.get('mid_sensor','ubi')}
                                          prox_sensor:=${props.get('prox_sensor','ubi')}
                                          palm_sensor:=${props.get('palm_sensor','ubi_fabric')}
                                          side:=${props.get('side','right')}
                                          prefix:=''
                                          lf:=${props.get('lf','True')} ">
    <xacro:property name="ns" value="${prefix}"/>
    <xacro:property name="prefix_" value="${'' if prefix=='' else prefix+'_'}"/>
    <xacro:shadowhand muscletrans="${'trans' in model}"
                      muscle="${'muscle' in model}"
                      tip_sensor="${tip_sensor}"
                      mid_sensor="${mid_sensor}"
                      prox_sensor="${prox_sensor}"
                      palm_sensor="${palm_sensor}"
                      reflect="${1 if side=='right' else -1}"
                      prefix="${prefix_}" />

    <!-- add tool frame -->
    <joint name="${prefix_}tool_frame" type="fixed">
      <parent link="${prefix_}forearm"/>
      <child link="${prefix_}tool_frame"/>
      <origin rpy="${pi/2} 0 0" xyz="0.0 -0.01 0.327"/>
    </joint>
    <link name="${prefix_}tool_frame"/>

    <!-- add tactile markers -->
    <xacro:shadowhand_tactile reflect="${1 if side=='right' else -1}"
                              prefix="${prefix_}"
                              lf="${lf}" />

    <xacro:shadow_gazebo_controller_manager namespace="${prefix}" />
  </xacro:macro>
</robot>
