<?xml version="1.0"?>
<robot name="kuka"
		 xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find agni_description)/urdf/sr_gazebo.urdf.xacro" /> 
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro" />
  
  <xacro:macro name="r_ee" params="prefix controller">
    <xacro:shadowhand muscletrans="false" muscle="false" bio="false" ubi="true" eli="false" reflect="1" prefix="${prefix}_"  />
  
    <xacro:if value="${controller}">  
    <!-- add controllers -->
      <xacro:shadow_gazebo_controller_manager namespace="${prefix}" />
    </xacro:if>   
  </xacro:macro>    
</robot>  
