<?xml version="1.0"?>
<robot name="single" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="settings" value="${load_yaml('robots.yaml')}" />

	<xacro:arg name="FRAME" default="-"/>
	<xacro:arg name="ARM" default="-"/>
	<xacro:arg name="TOOL" default="-"/>
	<xacro:arg name="PARENT" default="world"/>
	<xacro:arg name="FIX_HANDS" default="1"/>

	<xacro:arg name="PREFIX" default="-"/>
	<xacro:arg name="SIM" default="1"/>
	<xacro:include filename="../urdf/CALIB.from.FRAME.xacro"/>

	<xacro:property name="parent" value="$(arg PARENT)"/>
	<xacro:if value="${parent not in ['', '-' ]}">
		<link name="${parent}"/>
	</xacro:if>
	
	<!-- FRAME -->
	<xacro:if value="${FRAME not in ['', '-']}">
		<xacro:if value="${FRAME == 'famula'}">
			<xacro:include filename="../urdf/frame-half_mesh.urdf.xacro"/>
		</xacro:if>
		<xacro:if value="${FRAME == 'moveable_famula'}">
			<xacro:include filename="../urdf/frame-moveable.urdf.xacro"/>
		</xacro:if>
		<xacro:if value="${FRAME == 'sfb'}">
			<xacro:include filename="../urdf/frame.urdf.xacro"/>
		</xacro:if>
		<!-- if FRAME defined, but none of these two, 
		FRAME can still be used for finding CALIB folders -->
		<xacro:if value="${FRAME in ['famula', 'sfb', 'moveable_famula']}">
			<xacro:include filename="../calibration/${FRAME}_frame_cal.xml"/>
			<xacro:frame parent="${parent}"/>
		</xacro:if>
	</xacro:if>

	<xacro:include filename="../urdf/helpers.urdf.xacro" />

	<xacro:if value="$(arg FIX_HANDS)">
		<xacro:include filename="../urdf/shadow_fix.urdf.xacro"/>
	</xacro:if>

	<!-- SINGLE ARM with TOOL -->
	<xacro:property name="PREFIX" value="$(arg PREFIX)"/>
	<xacro:arm_with_tool parent="${parent}" arm_type="$(arg ARM)" tool_type="$(arg TOOL)"
	                     prefix="${PREFIX if PREFIX not in ['', '-'] else ''}"/>
</robot>
