<?xml version="1.0"?>
<robot name="tactile_tool" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="tactiletool" params="prefix:=''">
    <!-- tactile tool -->
    <xacro:include filename="../models/tactile_tool.urdf.xacro" />
    <xacro:tactile_tool prefix="${prefix}"/>

    <xacro:myrmex_tactile_markers parent="${prefix_}myrmex_quick_mount" prefix="${prefix}" channel="myrmex">
      <origin xyz="0 0 0.034" rpy="0 0 0"/>
    </xacro:myrmex_tactile_markers>
  </xacro:macro>
</robot>
