<?xml version="1.0"?>
<robot name="tactile_tool" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="prefix_" value="la_"/>
    <!-- myrmex -->
    <xacro:include filename="../models/tactile_tool.urdf.xacro" />
    <xacro:tactile_tool prefix="${prefix_}"/>

    <xacro:myrmex_tactile_markers parent="${prefix_}myrmex_quick_mount" topic="${prefix_}myrmex/data">
      <origin xyz="0 0 0.034" rpy="0 0 0"/>
    </xacro:myrmex_tactile_markers>
</robot>
