<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- namespace must be set up according to launch file namespace -->
	<xacro:macro name="shadow_gazebo_controller_manager" params="namespace">
		<gazebo>
			<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
				<robotSimType>sr_gazebo_sim/SrGazeboHWSim</robotSimType>
				<robotNamespace>${namespace}</robotNamespace>
			</plugin>
		</gazebo>

    
    
  </xacro:macro>
</robot>
