<launch>

  <arg name="parent_frame" default="world"/>
  <arg name="gui" default="false"/>
  <!-- generate myrmex description  -->
  <param name="robot_description" command="xacro '$(find myrmex_description)/robots/myrmex_single.urdf.xacro' board_row_nb:=1 board_col_nb:=1"/>

  <!-- spawn the camera model
  <node name="spawn_myrmexboard" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model myrmex_1x1_board" respawn="false" output="screen" />
   -->
  <group if="$(arg gui)">
    <!-- publish joint values, -->
    <node name="joint_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="false"/>
    </node>
    <!-- publish transforms of myrmex links -->
    <node name="myrmex_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" type="double" value="10.0"/>
    </node>
    <!-- rviz with settings -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find myrmex_description)/launch/myrmex_v2.rviz" output="screen" />
  </group>
</launch>
