<?xml version="1.0"?>
<robot name="poking_stick_ubi" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find sr_description)/hand/xacro/finger/distal/distal.tactile.xacro" />

  <xacro:macro name="poking_stick_ubi" params="prefix">
  <link name="${prefix}poking_stick">
    <visual>
      <origin xyz="0 0 0" 
          rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" 
					 filename="package://agni_description/models/meshes/poking_stick_for_ubi.dae"/>
      </geometry>
    </visual> 
    <collision>
      <origin xyz="0 0 0.0075" 
          rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06725" length="0.015"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.07375" 
          rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0075" length="0.1445"/>
      </geometry>
    </collision>
  </link>
  <joint name="${prefix}stick_to_ubi" type="fixed">
      <origin xyz="0 0 0.13605" rpy="0 0 0"/>
      <parent link="${prefix}poking_stick"/>
      <child link="${prefix}ffdistal"/>  
  </joint>
  
   <link name="${prefix}ffdistal">
    <visual>
      <origin xyz="0 0 0" 
          rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" 
					 filename="package://sr_description/hand/model/ubi_tactiles/ubi_tip_visual.dae"/>
      </geometry>
    </visual> 
    <collision>
      <origin xyz="0 0 0" 
          rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" 
					 filename="package://sr_description/hand/model/ubi_tactiles/ubi_tip_collision.dae"/>
      </geometry>
    </collision>
  </link>
  
  <!-- tactile marker mapping description -->
  <xacro:distal_tactile bio="false" ubi="true" eli="false" prefix="${prefix}" link_prefix="ff" finger_number="0"/>
  
  <gazebo reference="${prefix}poking_stick">
  </gazebo>
  </xacro:macro>
</robot>
