<?xml version="1.0"?>
<robot name="poking_stick" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="poking_stick" params="">
  <link name="poking_stick">
    <visual>
      <origin xyz="0 0 0" 
          rpy="0 0 0"/>
      <geometry>
        <mesh scale="0.001 0.001 0.001" 
					 filename="package://agni_description/models/meshes/poking_stick.dae"/>
      </geometry>
    </visual> 
    <collision>
      <origin xyz="0 0 0.0075" 
          rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.06725" length="0.015"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.08875" 
          rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0075" length="0.1475"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.1625" 
          rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0075"/>
      </geometry>
    </collision>
  </link>
  
  <gazebo reference="poking_stick">
  </gazebo>
  </xacro:macro>
</robot>
