<launch>
  <arg name="SIM" default="true"/>
  <arg name="ARM" default="kuka"/>
  <arg name="RA" default="1"/>
  <arg name="LA" default="0"/>
  <!-- arguments RA and LA to select left or right or both arm -->
  <!-- ARM [kuka|pa10]-->

  <group if="$(arg SIM)">
    <!-- start gazebo with an empty plane -->
    <!-- Gazebo world file to load. -->
    <arg name="world_name" default="$(find agni_description)/models/agni.world" />
    <arg name="gui" default="true"/>

    <!-- We want gazebo to stay in the root namespace but the nodes below to be
    relative. Can then launch this inside a namespace to namespace the hand. -->
    <group ns="/">
        <!-- We reuse the logic in empty_world.launch, changing only the name of the world to be launched -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
          <arg name="world_name" value="$(arg world_name)"/>
          <arg name="gui" value="$(arg gui)"/>
        </include>
    </group>
  </group>
  
    
  <!-- rtt deployement environment -->
  <node name="rtt_environment" pkg="rtt_ros" type="rttlua" launch-prefix="xterm -hold -T rtt_environment -e " args=" -i $(find agni_description)/kuka/deploy.lua">
  </node> 
  
  <!-- motion manager and logger rtt deployement -->
  <node pkg="rosservice" type="rosservice" name="motion_manager_deployer" args="call --wait /rtt_environment/Deployer/run_lua_script $(find agni_description)/kuka/scripted_deploy.lua"/> 
  
  
  <!-- load frame description -->
  <param name="platform_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/frame.urdf.xacro' ARM:=$(arg ARM)" />

  <group if="$(arg SIM)">
   <!-- spawn the support model -->
   <node name="spawn_support" pkg="gazebo_ros" type="spawn_model" args="-urdf -param platform_description -model platform -z 0" respawn="false" output="screen" /> 
  </group>
  <!-- include our robots -->
  <group if="$(arg RA)">
		<group if="$(arg LA)">
			  <!-- BOTH arms -->
			  <include file="$(find agni_description)/launch/both_arm.launch">
            <arg name="arm_type" value="$(arg ARM)"/>
            <arg name="sim" value="$(arg SIM)"/>
        </include>
        <node name="right_arm_static" pkg="tf" type="static_transform_publisher"  args="0 0 0 0 0 0 /$(arg ARM)_frame /right/world  100"/>
        <node name="left_arm_static" pkg="tf" type="static_transform_publisher"  args="0 0 0 0 0 0 /$(arg ARM)_frame /left/world  100"/>
		</group>	
		<group unless="$(arg LA)">
				<!-- RIGHT arm only -->
        <include file="$(find agni_description)/launch/right_arm.launch">
            <arg name="arm_type" value="$(arg ARM)"/>
            <arg name="sim" value="$(arg SIM)"/>
        </include>
        <node name="right_arm_static" pkg="tf" type="static_transform_publisher"   args="0 0 0 0 0 0 /$(arg ARM)_frame /right/world 100"/>
		</group>	
	</group>	
	<group unless="$(arg RA)">
			<!-- LEFT arm only -->
        <include file="$(find agni_description)/launch/left_arm.launch">
            <arg name="arm_type" value="$(arg ARM)"/>
            <arg name="sim" value="$(arg SIM)"/>
        </include>
        <node name="left_arm_static" pkg="tf" type="static_transform_publisher"   args="0 0 0 0 0 0  /$(arg ARM)_frame /left/world 100"/>
	</group>		
  
 
</launch>
