<launch>
  <arg name="SIM" default="true"/>
  <arg name="RH" default="1"/>
  <arg name="LH" default="0"/>
  <arg name="HAND_R" default="shadow_motor_right"/>
  <arg name="HAND_L" default="shadow_motor_left"/>
  
  <group if="$(arg SIM)"> 
    <!-- start gazebo with an empty plane -->
	
    <!-- Gazebo world file to load. -->
    <arg name="world_name" default="$(find sr_description)/other/worlds/shadowhand.world" />
    <arg name="gui" default="true"/>

    <!-- Gazebo world file to load. -->
    <!-- We want gazebo to stay in the root namespace but the nodes below to be
    relative. Can then launch this inside a namespace to namespace the hand. -->
    <group ns="/">
      <!-- We reuse the logic in empty_world.launch, changing only the name of the world to be launched -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)"/>
      </include>
    </group>
  </group>    
  
  <!-- include our robots -->
  <group if="$(arg RH)">
    <!-- RIGHT hand -->
    <group ns="rh">
      <include file="$(find agni_description)/launch/single_hand_no_controllers.launch" >
        <arg name="init_args" value="-x -0.2 -y 0 -z 0" />
        <arg name="prefix" value="r"/>
        <arg name="sim" value="$(arg SIM)"/>
        <arg name="hand_type" value="$(arg HAND_R)"/>
      </include>
    </group>
    <!-- drivers and/or controllers for the hand -->
    <include file="$(find agni_description)/launch/sr_bringup.launch">
      <arg name="namespace" value="rh" />
      <arg name="prefix" value="r"/>
      <arg name="sim" value="$(arg SIM)"/>
      <arg name="hand_type" value="$(arg HAND_R)"/>
    </include>
  </group>	
  <group if="$(arg LH)">
    <!-- LEFT hand -->
    <group ns="lh">
      <include file="$(find agni_description)/launch/single_hand_no_controllers.launch" >
        <arg name="init_args" value="-x 0.2 -y 0 -z 0" />
        <arg name="prefix" value="l"/>
        <arg name="sim" value="$(arg SIM)"/>
        <arg name="hand_type" value="$(arg HAND_L)"/>
      </include>
    </group>
    <!-- drivers and/or controllers for the hand -->
    <include file="$(find agni_description)/launch/sr_bringup.launch">
      <arg name="namespace" value="lh" />
      <arg name="prefix" value="l"/>
      <arg name="sim" value="$(arg SIM)"/>
      <arg name="hand_type" value="$(arg HAND_L)"/>
    </include>
  </group>
  
 
</launch>
