<launch>
  <arg name="SIM" default="true"/>
  <arg name="RH" default="1"/>
  <arg name="LH" default="0"/>
  <arg name="MODEL" default="motor"/>
  <arg name="TACTILE" default="ubi"/>
  
  <group if="$(arg SIM)"> 
    <!-- start gazebo with an empty plane -->
	
    <!-- Gazebo world file to load. -->
    <arg name="world_name" default="$(find sr_description)/other/worlds/shadowhand.world" />
    <arg name="gui" default="true"/>

    <!-- Gazebo world file to load. -->
    <!-- We want gazebo to stay in the root namespace but the nodes below to be
    relative. Can then launch this inside a namespace to namespace the hand. -->
    <group ns="/">
      <!-- We reuse the logic in empty_world.launch, changing only the name of the world to be launched -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)"/>
      </include>
    </group>
  </group>    
  
  <!-- set robot description for combined hands  -->
  <!-- on sfb setup we stard hands in sim but want to have a arm+hand robot_description so this should not be loaded
  <param name="robot_description" command="$(find xacro)/xacro --> <!--inorder '$(find agni_description)/robots/hands.urdf.xacro' 
              RH:=$(arg RH) LH:=$(arg LH) R_EE_TYPE:=shadow_hand R_EE_MODEL:=$(arg MODEL) R_EE_SIDE:=right R_EE_TACTILE:=$(arg TACTILE) 
              L_EE_TYPE:=shadow_hand L_EE_MODEL:=$(arg MODEL) L_EE_SIDE:=left L_EE_TACTILE:=$(arg TACTILE) SIM:=$(arg SIM) " />
   -->
  
  <!-- include our robots -->
  <group if="$(arg RH)">
    <!-- RIGHT hand -->
    <group ns="rh">
      <include file="$(find agni_description)/launch/single_hand_no_controllers.launch" >
        <arg name="init_args" value="-x -0.2 -y 0 -z 0" />
        <arg name="namespace" value="rh"/>
        <arg name="side" value="right"/>
        <arg name="sim" value="$(arg SIM)"/>
        <arg name="model" value="$(arg MODEL)"/>
        <arg name="tactile" value="$(arg TACTILE)"/>
      </include>
    </group>
    <!-- drivers and/or controllers for the hand -->
    <include file="$(find agni_description)/launch/sr_bringup.launch">
      <arg name="namespace" value="rh" />
      <arg name="side" value="right"/>
      <arg name="sim" value="$(arg SIM)"/>
      <arg name="model" value="$(arg MODEL)"/>
      <arg name="tactile" value="$(arg TACTILE)"/>  
    </include>
  </group>	
  <group if="$(arg LH)">
    <!-- LEFT hand -->
    <group ns="lh">
      <include file="$(find agni_description)/launch/single_hand_no_controllers.launch" >
        <arg name="init_args" value="-x 0.2 -y 0 -z 0" />
        <arg name="namespace" value="lh"/>
        <arg name="side" value="left"/>
        <arg name="sim" value="$(arg SIM)"/>
        <arg name="model" value="$(arg MODEL)"/>
        <arg name="tactile" value="$(arg TACTILE)"/>
      </include>
    </group>
    <!-- drivers and/or controllers for the hand -->
    <include file="$(find agni_description)/launch/sr_bringup.launch">
      <arg name="namespace" value="lh" />
      <arg name="side" value="left"/>
      <arg name="sim" value="$(arg SIM)"/>
      <arg name="model" value="$(arg MODEL)"/>
      <arg name="tactile" value="$(arg TACTILE)"/>      
    </include>
  </group>
  
 
</launch>
