<launch>
	<arg name="namespace" default="ra"/>
  <arg name="sim" default="true"/>
  <!-- Currently no difference between simulated and real kuka -->
  
  <!-- only load parameters here -->
  <rosparam command="load" file="$(find agni_description)/kuka/$(arg namespace)_controllers.yaml" />
  
  <!-- low level orocos component to be deployed here (to get joint state published at all)-->
  <include file="$(find agni_description)/kuka/kuka_deploy.launch">
    <arg name="namespace" value="$(arg namespace)"/>
  </include>
     
</launch>
