<launch>
	<arg name="namespace" default="ra"/>
  <arg name="sim" default="true"/>
  <!-- Currently no difference between simulated and real kuka -->
  
  <!-- only load parameters here -->
  <rosparam command="load" file="$(find agni_description)/kuka/$(arg namespace)_controllers.yaml" />
  
  <!-- no orocos deployment should be done here anymore, only gazebo or real world stuff-->
     
</launch>
