<launch>
   <arg name="board_row_nb" default="3"/>
   <arg name="board_col_nb" default="3"/>
   <arg name="pos_xyz" default="0 0 0"/>
   <arg name="ori_rpy" default="0 0 0"/>

  <!-- generate myrmex description  -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find myrmex_description)/robots/myrmex_board.urdf.xacro'
                                           board_row_nb:=$(arg board_row_nb) board_col_nb:=$(arg board_col_nb) pos_xyz:=$(arg pos_xyz) ori_rpy:=$(arg ori_rpy)"/>

  <!-- spawn the camera model -->
    <node name="spawn_myrmexboard" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model myrmex_3x3_board" respawn="false" output="screen" />
</launch>
