<launch>
	<arg name="namespace" default="ra"/>
	<arg name="sim" default="true"/> 
  
  <!-- Nothing to do in real world as arms are not started from ROS -->
  <group if="$(arg sim)"> 
   
    <!-- Controllers for the pa10 -->
    <!-- controller parameter for pa10-->
    <rosparam command="load" file="$(find agni_description)/pa10/$(arg namespace)_gazebo_controller.yaml" />
 
    <!-- load controllers for pa10-->
    <node name="spawn_pa10_controllers"
      pkg="controller_manager" type="spawner" respawn="false" output="screen"
      args="$(arg namespace)_S1_position_controller $(arg namespace)_S2_position_controller $(arg namespace)_S3_position_controller $(arg namespace)_E1_position_controller $(arg namespace)_E2_position_controller $(arg namespace)_W1_position_controller $(arg namespace)_W2_position_controller" />
      
    <!-- load controllers -->
    <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
    <!-- spawn controller -->
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller" /> 
  </group>
</launch>
