<launch>
  <arg name="FRAME" default="famula"/>
  <arg name="ARM_L" default="kukaL"/>
  <arg name="ARM_R" default="kukaR"/>
  <arg name="TOOL_L" default="shadow_motor_left"/>
  <arg name="TOOL_R" default="shadow_motor_right"/>
  <arg name="FLOBI" default="false"/>

  <arg name="JSP" default="false"/>
  
  <!-- JSP for joint_state_publisher gui -->
  <!-- USE_PREFIX [true|false] to tell to use prefix for the end-effector or not.
       Is mandatory if using two hands -->
  <!-- ARM_R|ARM|L to select the arm type. -->
  <!-- FLOBI to select if flobi should be added to the setup -->
  <!-- TOOL_R|TOOL_L are the names of the end-effectors
       mounted on right and left arms respectively -->
  
  <!-- set robot description for combined table + robot arm and end-effector  -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find agni_description)/robots/bimanual.urdf.xacro' 
              FRAME:=$(arg FRAME) ARM_R:=$(arg ARM_R) ARM_L:=$(arg ARM_L) 
              FLOBI:=$(arg FLOBI) TOOL_R:=$(arg TOOL_R) TOOL_L:=$(arg TOOL_L) SIM:=true " />
                                             
  <!-- publish joint values, open gui if use_gui=True -->
  <group if="$(arg JSP)"> 
    <node name="joint_publisher"
          pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="True"/>
    </node>
  </group>
    
  <!-- publish transforms of all robot links -->
    <node name="state_publisher" 
          pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" type="double" value="10.0"/>
    </node>



</launch>
