<launch>
  <arg name="arm_type" default="kuka"/>
  <arg name="sim" default="true"/>
  <group ns="ra">
    <include file="$(find agni_description)/launch/single_arm_no_controllers.launch" >
      <arg name="init_args" value="-x 0.5 -y 0 -z 0.05" />
      <arg name="namespace" value="ra"/>
      <arg name="arm_type" value="$(arg arm_type)"/>
      <arg name="sim" value="$(arg sim)"/>
    </include>
    
    <!-- Controllers for the arm -->
    <include file="$(find agni_description)/launch/$(arg arm_type)_bringup.launch" >
      <arg name="namespace" value="ra" />
      <arg name="sim" value="$(arg sim)"/>
    </include>	
	</group>
</launch>
