<launch>
  <arg name="ARM" default="kuka"/>
  <arg name="FLOBI" default="false"/>
  <arg name="JSP" default="false"/>

  <group if="$(arg FLOBI)"> 
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/both_kuka_shadow_flobi.urdf.xacro'" />
  </group>
  <group unless="$(arg FLOBI)"> 
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/both_$(arg ARM)_shadow.urdf.xacro'" />
  </group>

  <!-- publish joint values, open gui if use_gui=True -->
  <group if="$(arg JSP)"> 
    <node name="joint_publisher"
          pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="True"/>
    </node>
  </group>
    
  <!-- publish transforms of all robot links -->
    <node name="state_publisher" 
          pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" type="double" value="10.0"/>
    </node>

</launch>
