<launch>
  <arg name="prefix" default="r"/>
  <arg name="init_args" default="-x 0 -y 0 -z 0"/>
  <arg name="sim" default="true"/>
  <arg name="hand_type" default="shadow_motor_right"/>

  <!-- hand description for gazebo spawn/plugin only in sim, in real driver loads it 
  state pub not on root tf, in sim only, to have it a ns as in driver -->
  <group if="$(arg sim)">
    <include file="$(find agni_description)/launch/sr_upload.launch">
      <arg name="prefix" value="$(arg prefix)"/>
      <arg name="hand_type" value="$(arg hand_type)"/>
    </include>

    <param name="tf_prefix" value="$(arg prefix)h" />
    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher_$(arg prefix)hand">
      <param name="publish_frequency" type="double" value="20.0" />
    </node>

    <include file="$(find agni_description)/launch/gazebo_robot_spawner.launch" >
      <arg name="init_args" value="$(arg init_args)" />
      <arg name="robot_name" value="$(arg prefix)_$(arg hand_type)" />
    </include>
  </group>   
  

</launch>
