<launch>
  <arg name="prefix" default="r"/>
  <arg name="init_args" default="-x 0 -y 0 -z 0"/>
  <arg name="sim" default="true"/>
  <arg name="hand_type" default="shadow_motor_right"/>

  <!-- load robot_description (only in sim, driver in bringup does it to) -->
  <group if="$(arg sim)">
    <include file="$(find agni_description)/launch/sr_upload.launch">
      <arg name="prefix" value="$(arg prefix)"/>
      <arg name="hand_type" value="$(arg hand_type)"/>
    </include>
  </group>
    
  <group if="$(arg sim)">
    <include file="$(find agni_description)/launch/gazebo_robot_spawner.launch" >
      <arg name="init_args" value="$(arg init_args)" />
      <arg name="robot_name" value="$(arg prefix)_$(arg hand_type)" />
    </include>
  </group>   

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher_full_pos">
    <param name="publish_frequency" type="double" value="20.0" />
  </node>

</launch>
