<launch>
  <arg name="namespace" default="rh"/>
  <arg name="hand_type" default="shadow_motor_right"/>
  <arg name="prefix" default="r"/>
  <arg name="sim" default="true"/>
 
  <group if="$(arg sim)"> 
    <!-- we need ns here -->
    <group ns="$(arg namespace)">
      <!-- joint_state_publishers controller -->
      <include file="$(find ros_ethercat_model)/launch/joint_state_publisher.launch"/>
      <!-- motor controllers -->
      <include file="$(find agni_description)/launch/hand_controllers.launch">
        <arg name="namespace" value="$(arg namespace)" />
      </include>
      <!-- trajectory controllers -->
      <include file="$(find agni_description)/launch/hand_trajectory_controllers.launch">
        <arg name="namespace" value="$(arg namespace)" />
      </include>      
    </group>  
  </group>  
  
  <group unless="$(arg sim)"> 
    <!-- ns is already contained in sr_rh|lhand.launch -->
    <include file="$(find sr_ethercat_hand_config)/launch/sr_$(arg namespace)and.launch" >
       <!-- single quotes must be added around urdf.xacro but not around substitution args -->
      <arg name="robot_description" value="--inorder '$(find agni_description)/robots/single.urdf.xacro' 
          PREFIX:=$(arg prefix) TOOL:=$(arg hand_type) SIM:=0 CALIB:=default PARENT:='-'" />
    </include>
    <!-- ns is already contained in the controller.launch -->
    <include file="$(find sr_ethercat_hand_config)/launch/controllers/sr_edc_mixed_position_velocity_controllers.launch" >
      <arg name="set_namespace" value="1"/>
      <arg name="config_dir" value="$(arg namespace)/" />
      <arg name="namespace" value="$(arg namespace)" />
    </include>

  </group>
    
</launch>
