<launch>
	<arg name="namespace" default="rh"/>
  <arg name="model" default="motor"/>
  <arg name="side" default="right"/>
  <arg name="tactile" default="-"/>
  <arg name="sim" default="true"/>
	 
  <group if="$(arg sim)"> 
    <!-- we need ns here -->
    <group ns="$(arg namespace)">
      <!-- joint_state_publishers controller -->
      <include file="$(find ros_ethercat_model)/launch/joint_state_publisher.launch"/>
      <!-- motor controllers -->
      <include file="$(find agni_description)/launch/hand_controllers.launch">
        <arg name="namespace" value="$(arg namespace)" />
      </include>
    </group>  
  </group>  
  
  <group unless="$(arg sim)"> 
    <!-- ns is already contained in sr_rh|lhand.launch -->
    <include file="$(find sr_ethercat_hand_config)/launch/sr_$(arg namespace)and.launch" >
       <!-- cheating with strangely placed quotes because the xacro execution in sr_edc.launch 
       puts everything into quotes but substitution args should not be into quotes -->
      <arg name="robot_description" value="$(find agni_description)/robots/shadow_hands.urdf.xacro'  MODEL:=$(arg model) SIDE:=$(arg side)  TACTILE:=$(arg tactile) PREFIX:=$(arg namespace) ' " />
    </include>
 
    <!-- ns is already contained in the controller.launch -->
    <include file="$(find sr_ethercat_hand_config)/launch/controllers/sr_edc_mixed_position_velocity_controllers.launch" >
			<arg name="set_namespace" value="1"/>
			<arg name="config_dir" value="$(arg namespace)/" />
			<arg name="namespace" value="$(arg namespace)" />
		</include>

  </group>
    
</launch>
