<launch>
	<arg name="namespace" default="rh"/>
	<arg name="model" default="motor"/>
  <arg name="side" default="right"/>
  <arg name="tactile" default=""/>
  <!-- load robot_description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/shadow_hands.urdf.xacro' 
  MODEL:=$(arg model) SIDE:=$(arg side)  TACTILE:=$(arg tactile) PREFIX:=$(arg namespace) " /> 
</launch>
