<launch>
  <!-- select the robots -->
  <arg name="RH" default="1"/>
  <arg name="LH" default="0"/>
  <group if="$(arg RH)">
    <include file="$(find agni_description)/launch/single_hand_tactile_viz.launch" >
      <arg name="namespace" value="rh"/>
    </include>
  </group>  
  <group if="$(arg LH)">
    <include file="$(find agni_description)/launch/single_hand_tactile_viz.launch" >
      <arg name="namespace" value="lh"/>
    </include>
  </group>    
</launch>
