<launch>
  <arg name="namespace" default="rh"/>
	<arg name="prefix" default="r"/>
  <!-- load robot_description -->
  <group ns="$(arg namespace)" >
    <param name="robot_description" command="xacro '$(find agni_description)/robots/single.urdf.xacro'  
      PREFIX:=$(arg prefix) TOOL:=poking_stick_ubi" />
  </group>
</launch>
