<launch>

<!--
  <node name="rviz" pkg="rviz" type="rviz"/>
-->

   <arg name="ARM" default="kuka"/>
   <!-- load robot_description -->
   <arg name="RA" default="1"/>
   <arg name="LA" default="1"/>
   <group if="$(arg RA)">
      <group if="$(arg LA)">
         <!-- BOTH arms -->
         <param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/both_$(arg ARM)_shadow.urdf.xacro'" />
      </group>	
      <group unless="$(arg LA)">
            <!-- RIGHT arm only -->
          <param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/$(arg ARM)_right.urdf.xacro'" />
      </group>	
   </group>	
   <group unless="$(arg RA)">
      <!-- LEFT arm only -->
      <param name="robot_description" command="$(find xacro)/xacro.py '$(find agni_description)/robots/$(arg ARM)_left.urdf.xacro'" />
   </group>	

    <!-- publish joint values, open gui if use_gui=True -->
    <node name="joint_publisher"
          pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="True"/>
    </node>

    <!-- publish transforms of all robot links -->
    <node name="state_publisher" 
          pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="publish_frequency" type="double" value="10.0"/>
    </node>

   <node name="mount_publisher"
		  pkg="util" type="static_transform_publisher.py"
		  args="-p $(arg ARM)_frame -c arm_base_link -g">
   </node>

</launch>
