<launch>

	<!-- select the robots -->
	<arg name="RH" default="1"/>
	<arg name="LH" default="0"/>
	<arg name="fixed" default="0"/>

	<group if="$(arg RH)">
		<include file="$(find agni_description)/launch/viz_tactile_single_hand.launch" >
			<arg name="namespace" value="r"/>
			<arg name="fixed" value="$(arg fixed)"/>
			<arg name="pos" value="0.2 0 0 0 0 0"/>
		</include>
	</group>

	<group if="$(arg LH)">
		<include file="$(find agni_description)/launch/viz_tactile_single_hand.launch" >
			<arg name="namespace" value="l"/>
			<arg name="fixed" value="$(arg fixed)"/>
			<arg name="pos" value="-0.2 0 0 0 0 0"/>
		</include>
	</group>
</launch>
