<launch>
	<arg name="namespace"/>
	<arg name="fixed" default="0"/>
	<arg name="pos" default="0 0 0 0 0 0"/>

	<!-- define the actual namespace to use -->
	<arg name="ns" value="$(arg namespace)h" unless="$(arg fixed)"/>
	<arg name="ns" value="$(arg namespace)h/fixed" if="$(arg fixed)"/>

	<group ns="$(arg ns)" if="$(arg fixed)">
		<!-- publish joint values, open gui if use_gui=True -->
		<node name="joint_publisher"
		      pkg="joint_state_publisher" type="joint_state_publisher">
			<param name="use_gui" value="False"/>
			<!-- use robot description from non-fixed namespace -->
			<remap from="/$(arg ns)/robot_description" to="/$(arg namespace)h/robot_description"/>
		</node>

		<!-- publish transforms of all robot links -->
		<node name="state_publisher"
		      pkg="robot_state_publisher" type="state_publisher">
			<param name="publish_frequency" type="double" value="10.0"/>
			<param name="tf_prefix" value="$(arg ns)"/>
			<!-- use robot description from non-fixed namespace -->
			<remap from="/$(arg ns)/robot_description" to="/$(arg namespace)h/robot_description"/>
		</node>
	</group>

	<!-- tactile marker publisher is started both, for fixed and non-fixed use -->
	<group ns="$(arg namespace)h">
		<arg name="suffix" value="_fixed" if="$(arg fixed)"/>
		<arg name="suffix" value="" unless="$(arg fixed)"/>
		<node pkg="tactile_marker_publisher" type="tactile_marker_publisher" name="tactile_viz$(arg suffix)" output="screen">
			<param name="tf_prefix" value="$(arg ns)/"/>
		</node>

		<!-- publish static transform to position hand in rviz -->
		<arg name="baselink" value="/$(arg ns)/$(arg namespace)h_forearm"/>
		<node pkg="tf" type="static_transform_publisher" name="base_link" args="$(arg pos) /base $(arg baselink) 100"/>
	</group>
</launch>
