<?xml version="1.0"?>
<robot name="myrmex_3x3_board" xmlns:xacro="http://www.ros.org/wiki/xacro">
   <link name="world"/>
   <xacro:arg name="board_row_nb" default="3"/>
   <xacro:arg name="board_col_nb" default="3"/>
   <xacro:arg name="pos_xyz" default="0 0 0"/>
   <xacro:arg name="ori_rpy" default="0 0 0"/>
   <xacro:arg name="ns" default=""/>
   
  <joint name="board_base_joint" type="fixed">
      <parent link="world" />
      <child link="board_base" />
      <origin xyz="$(arg pos_xyz)" rpy="$(arg ori_rpy)"/>
  </joint>
   
   <link name="board_base">
       <inertial>
        <origin xyz="0 0 0.015" rpy="0 0 0" />
        <mass value="0.400" />
        <inertia ixx="0.0002" ixy="0.0" ixz="0.0"
        iyy="0.0002" iyz="0.0" izz="0.0001" />
      </inertial>
      <xacro:property name="board_row_nb" value="$(arg board_row_nb)" />
      <xacro:property name="board_col_nb" value="$(arg board_col_nb)" />
      <visual>
        <origin xyz="0.05 0 0.015" rpy="0 0 0"/>
        <geometry>
          <box size="${0.1 + board_row_nb*0.08} ${board_col_nb*0.08} 0.03"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.05 0 0.015" rpy="0 0 0"/>
        <geometry>
          <box size="${0.1 + board_row_nb*0.08} ${board_col_nb*0.08} 0.03"/>
        </geometry>
      </collision>
    </link>
   
   <xacro:include filename="$(find myrmex_description)/models/myrmex_tactile_surface.urdf.xacro" />
   <xacro:myrmex_tactile_surface prefix="$(arg ns)" parent="board_base" size_x="$(arg board_row_nb)" size_y="$(arg board_col_nb)" 
                                 foam_size_x="0.08" foam_size_y="0.08" />
   <xacro:property name="ns" value="$(arg ns)" />
   <xacro:property name="prefix_" value="${ns + '_' if ns else ''}" />
   <xacro:myrmex_tactile_markers parent="${prefix_}myrmex_foam" prefix="$(arg ns)" channel="myrmex_sensor" size_x="$(arg board_row_nb)" size_y="$(arg board_col_nb)">
      <origin xyz="0 0 0.001" rpy="0 0 0"/>
   </xacro:myrmex_tactile_markers>
</robot>
